.language
    color red

/* 

https://www.schemecolor.com/ 
https://github.github.io/linguist/

*/

.php
    background #474A8A

.javascript
    background #FDC72E

.python
    background #4B8BBE

.go
    background #41DBC8

.haskell
    background rgb(94,80,134)

.cpp
    background #f34b7d